In [17]:
import numpy as np 
import scanpy as sc

In [18]:
adata = sc.read_h5ad("/home/icb/alessandro.palma/environment/scportrait_ot/project_folder/data/scrnaseq/sce_converted_processed_discovery.h5ad")

In [19]:
unique_ct = np.unique(adata.obs.annotation_figure_1, return_counts=True)

In [20]:
freq_ct = dict(zip(unique_ct[0], unique_ct[1]))

In [29]:
inverse_freq = {key: 1/(val/adata.shape[0]) for key, val in freq_ct.items()}

In [37]:
inverse_freq

{'Activated NBC': np.float64(19.215151072836083),
 'CD4 T': np.float64(6.76323563410311),
 'CD8 T': np.float64(54.45418821096174),
 'DC': np.float64(265.40927419354836),
 'DN': np.float64(379.3746397694525),
 'FDC': np.float64(268.6591836734694),
 'GCBC': np.float64(3.6203454155436994),
 'Granulocytes': np.float64(1676.9808917197452),
 'ILC': np.float64(805.1559633027522),
 'MBC': np.float64(5.7998898557109815),
 'Mast': np.float64(6582.15),
 'Mono/Macro': np.float64(194.59423503325942),
 'NBC': np.float64(4.983551324033239),
 'NK': np.float64(778.9526627218935),
 'Naive CD4 T': np.float64(19.680520257138586),
 'Naive CD8 T': np.float64(59.419092755585645),
 'PC': np.float64(29.012231404958676),
 'PDC': np.float64(546.2365145228216),
 'cycling FDC': np.float64(1180.6547085201794),
 'cycling T': np.float64(141.5516129032258),
 'cycling myeloid': np.float64(2714.288659793814),
 'epithelial': np.float64(729.3240997229917),
 'preB/T': np.float64(3210.80487804878)}

In [35]:
adata[0].obs

,barcode,donor_id,gem_id,library_name,assay,sex,age,age_group,hospital,cohort_type,...,annotation_20220619,annotation_20230508,annotation_20230508_probability,UMAP_1_level_1,UMAP_2_level_1,UMAP_1_20220215,UMAP_2_20220215,UMAP_1_20230508,UMAP_2_20230508,type
bw94nf57_vm85woki_AAAGTGACAAGGAGTC-1,bw94nf57_vm85woki_AAAGTGACAAGGAGTC-1,BCLL-10-T,bw94nf57_vm85woki,BCLL_10_T_1_hashing,3P,male,3.0,child,CIMA,discovery,...,ITGAX Slancytes,ITGAX Slan-like,NaN,1.199969,5.404568,-8.939091,2.285527,5.814415,12.924826,discovery_3P

In [53]:
labels = adata.obs["annotation_figure_1"].values

In [56]:
unique_labels = np.unique(labels)

In [57]:
unique_labels

array(['Activated NBC', 'CD4 T', 'CD8 T', 'DC', 'DN', 'FDC', 'GCBC',
       'Granulocytes', 'ILC', 'MBC', 'Mast', 'Mono/Macro', 'NBC', 'NK',
       'Naive CD4 T', 'Naive CD8 T', 'PC', 'PDC', 'cycling FDC',
       'cycling T', 'cycling myeloid', 'epithelial', 'preB/T'],
      dtype=object)

In [58]:
sampled_label = np.random.choice(unique_labels)

In [59]:
matching_indices = np.where(labels == sampled_label)[0]

In [61]:
np.where(labels == sampled_label)

(array([  2639,   2640,   2641,   2642,   2643,   2644,   2645,   2646,
          2647,   2648,   2649,   2650,   2651,   2652,   2653,   2654,
          2655,   2656,   2657,   2658,   2659,   2660,   2661,   2662,
          2663,   2664,   2665,   2666,   2667,   2668,   2669,   2670,
          2671,   2672,   2673,   2674,   2675,   2676,   2677,   2678,
          2679,   2680,   2681,   2682,   2683,   2684,   2685,   2686,
          2687,   2688,   2689,   2690,   2691,   2692,   2693,   2694,
          2695,   2696,   2697,   2698,   2699,   2700,   2701,   2702,
          2703,   2704,   2705,   2706,   2707,   2708,   2709,   2710,
          2711,   2712,   2713,   2714,   2715,   2716,   2717,   2718,
          2719,   2720,   2721,   2722,   2723,   2724,   2725,   2726,
          2727,   2728,   2729,   2730,   2731,   2732,   2733,   2734,
          2735,   2736,   2737,   2738,   2739,   2740,   2741,   2742,
          2743,   2744,   2745,   2746,   2747,   2748,   2749,   2750,
          2751,   2752,   2753,   2754,   2755,   2756,   2757,   2758,
          2759,   2760,   2761,   2762,   2763,   2764,   2765,   2766,
          2767,   2768,   2769,   2770,   2771,   2772,   2773,   2774,
          2775,   2776,   2777,   2778,   2779,   2780,   2781,   2782,
          2783,   2784,   2785,   2786,   2787,   2788,   2789,   2790,
          2791,   2792,   2793,   2794,   2795,   2796,   2797,   2798,
          2799,   2800,   2801,   2802,   2803,   2804,   2805,   2806,
          2807,   2808,   2809,   2810,   2811,   2812,   2813,   2814,
          2815,   2816,   2817,   2818,   2819,   2820,   2821,   2822,
          2823,   2824,   2825,   2826,   2827,   2828,   2829,   2830,
          2831,   2832,   2833,   2834,   2835,   2836,   2837,   2838,
          2839,   2840,   2841,   2842,   2843,   2844,   2845,   2846,
          2847,   2848,   2849,   2850,   2851,   2852,   2853,   2854,
          2855,   2856,   2857,   2858,   2859,   2860,   2861,   2862,
          2863,   2864,   2865,   2866,   2867,   2868,   2869,   2870,
          2871,   2872,   2873,   2874,   2875,   2876,   2877,   2878,
          2879,   2880,   2881,   2882,   2883,   2884,   2885,   2886,
          2887,   2888,   2889,   2890,   2891,   2892,   2893,   2894,
          2895,   2896,   2897,   2898,   2899,   2900,   2901,   2902,
          2903,   2904,   2905,   2906,   2907,   2908,   2909,   2910,
          2911,   2912,   2913,   2914,   2915, 262988, 262989, 262990,
        262991, 262992, 262993, 262994, 262995, 262996, 262997, 262998,
        262999, 263000, 263001, 263002, 263003, 263004, 263005, 263006,
        263007, 263008, 263009, 263010, 263011, 263012, 263013, 263014,
        263015, 263016, 263017, 263018, 263019, 263020, 263021, 263022,
        263023, 263024, 263025, 263026, 263027, 263028, 263029, 263030,
        263031, 263032, 263033, 263034, 263035, 263036, 263037, 263038,
        263039, 263040, 263041, 263042, 263043, 263044, 263045, 263046,
        263047, 263048, 263049, 263050, 263051, 263052, 263053, 263054,
        263055, 263056, 263057, 263058, 263059, 263060, 263061, 263062,
        263063, 263064, 263065, 263066, 263067, 263068, 263069, 263070,
        263071]),)